<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://hello911.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Hello911</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Hello911</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Hello911Entities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ffgr41kkbg.database.windows.net,1433;Initial Catalog=Hello911DB;User ID=chitraraman@ffgr41kkbg;Password=azureDB@1401" Name="Data Source=tcp:ffgr41kkbg.database.windows.net,1433;Initial Catalog=Hello911DB;User Id=chitraraman@ffgr41kkbg;Password=azureDB@1401" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Hello911InfoViz.Models.Hello911Entities, Hello911InfoViz" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Hello911EntitiesAggr" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:ffgr41kkbg.database.windows.net,1433;Initial Catalog=Hello911DB;User ID=chitraraman@ffgr41kkbg;Password=azureDB@1401" Name="Data Source=tcp:ffgr41kkbg.database.windows.net,1433;Initial Catalog=Hello911DB;User Id=chitraraman@ffgr41kkbg;Password=azureDB@1401" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Hello911.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\Hello911EntitiesAggr_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\Hello911.mdf;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Hello911Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:ffgr41kkbg.database.windows.net,1433;Initial Catalog=Hello911DB;User Id=chitraraman@ffgr41kkbg;Password=azureDB@1401"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Hello911EntitiesAggr-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model2.csdl|res://*/Models.Model2.ssdl|res://*/Models.Model2.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:ffgr41kkbg.database.windows.net,1433;initial catalog=Hello911DB;user id=chitraraman@ffgr41kkbg;password=azureDB@1401;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>